<main>
  <h1>Rubiks Cube</h1>
  {{#with cube}}
  <img class="cube" src={{imageUrl}}>
  <div class="details">
    <p><span>Description:</span>{{description}}</p>
    <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
    {{/with}}
    <a class="btn" href="/">Back</a>
    <a class="btn" href="/accessories/attach/{{cube._id}}">Attach Accessory</a>
  </div>
  <h2>Accessories</h2>
  <div class="accessories">
    {{#if existing}}
    {{#each existing}}
    {{> accessoryCard}}
    {{/each}}
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/if}}
  </div>
</main>